<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CalendarSync.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CalendarSync.Core.Properties.Settings>
            <setting name="GoogleUserName" serializeAs="String">
                <value>UserName</value>
            </setting>
            <setting name="GooglePassword" serializeAs="String">
                <value>Password</value>
            </setting>
            <setting name="MonthsInTheFuture" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="MonthsInThePast" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SyncIntervalMinutes" serializeAs="String">
                <value>30</value>
            </setting>
        </CalendarSync.Core.Properties.Settings>
    </userSettings>
</configuration>